:root {
  --main: #e65c5c;
  --hover: #f58d78;
}

* { margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0; }

body {
    background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.8), rgba(255,255,255,.98)), url('kocalc2.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto 220px;
    background-position: center top;
    color: black;
    margin-bottom: 200px;
    overflow-y: scroll;
}

a { color: var(--main); text-decoration: none; font-weight: 400;}
a:hover { color: var(--hover); }

sub {  font-size: .8em; line-height: 0; }
sup {  font-size: .8em;  vertical-align: super;    line-height: 0; }



/* .navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--main);
  font: 16px Open Sans;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar li {
  float: left;
  font: 16px Open Sans
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: 16px Open Sans;
}

.navbar li a:hover:not(.active) {
  background-color: #247d65;
  font: 16px Open Sans;
}

.navbar .active {
  background-color: var(--hover);
  font: 16px Open Sans;
} */

.content {
    /* background-image: url('kocalc.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain; */
}

#content>h1 {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
    color: var(--main);
    font: 40px Montserrat;
    font-weight: 600;
    padding-left: 10%;
    padding-right: 10%;
}
p { padding-bottom: 10px;
    font: 16px Open Sans;
    font-weight: 300;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 700px;
}
h2 {
    text-align: left;
    margin: 30px auto 10px auto;
    color: var(--main);
    font: 25px Unna;
    font-weight: 400;
    font-style: italic;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 700px;
}
h2 a {
    color: black;
    padding-right: 17px;
}
h2 a:hover {
    color: #666;
}

ul {
    list-style: outside;
    list-style-type: circle;
    padding-bottom: 10px;
        font: 16px Open Sans;
        font-weight: 300;
        margin: auto;
        padding-left: 12%;
        padding-right: 10%;
        max-width: 700px;
}
li {
  margin-top: 10px;
}
.blank h2 a { }
